name: Build JAR
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Gradle
        run: |
          cd LCSESNXUtility
          gradle wrapper --gradle-version 8.5
          ./gradlew jar
      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: LCSESNXUtility-Output
          path: LCSESNXUtility/build/libs/*.jar
